= form_for @job_posting do |f|
  - if @job_posting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job_posting.errors.count, "error")} prohibited this job_posting from being saved:"
      %ul
        - @job_posting.errors.full_messages.each do |message|
          %li= message

  .row
    .column
      = f.label :title
      = f.text_field :title

  .row
    .column
      = f.label :keyword
      = f.text_field :keyword

  .row
    .column
      = f.label :location
      = f.text_field :location

  .row
    .column
      = f.label :headline_company
      = f.text_field :headline_company
    .column
      = f.label :description_company
      = f.hidden_field :description_company
      = content_tag 'trix-editor', '', input: :job_posting_description_company

  .row
    .column
      = f.label :headline_offer
      = f.text_field :headline_offer
    .column
      = f.label :description_offer
      = f.hidden_field :description_offer
      = content_tag 'trix-editor', '', input: :job_posting_description_offer

  .row
    .column
      = f.label :headline_tasks
      = f.text_field :headline_tasks
    .column
      = f.label :description_tasks
      = f.hidden_field :description_tasks
      = content_tag 'trix-editor', '', input: :job_posting_description_tasks

  .row
    .column
      = f.label :headline_team
      = f.text_field :headline_team
    .column
      = f.label :description_team
      = f.hidden_field :description_team
      = content_tag 'trix-editor', '', input: :job_posting_description_team

  .row
    .column
      = f.submit 'Speichern'
      = link_to 'Abbrechen', job_postings_path, class: 'button button-outline'
