.row
  .column
    %h1 Übersicht Stellenanzeigen

.row
  .column
    %table
      %thead
        %tr
          %th Titel
          %th Keyword
          %th Adresse
          %th
          %th
          %th

      %tbody
        - @job_postings.each do |job_posting|
          %tr
            %td= job_posting.title
            %td= job_posting.keyword
            %td= job_posting.location
            %td= link_to 'Preview', job_posting, target: '_blank'
            %td= link_to 'Bearbeiten', edit_job_posting_path(job_posting)
            %td= link_to 'Löschen', job_posting, method: :delete, data: { confirm: 'Are you sure?' }

.row
  .column
    = link_to 'Neuen Job anlegen', new_job_posting_path, class: 'button button-outline'
