.job_posting
  .job_posting__header
    .row.row-center
      .column.column-80
        %h1= @job_posting.title
      .column.column-20
        = link_to 'Jetzt bewerben', '#', id: 'cta_job_posting_apply', class: 'button'
    .row
      .column
        = @job_posting.location

  .job_posting__content
    .row
      .column
        %h2= @job_posting.headline_company
    .row
      .column
        = sanitize @job_posting.description_company

    .row
      .column
        %h2= @job_posting.headline_offer
    .row
      .column
        = sanitize @job_posting.description_offer

    .row
      .column
        %h2= @job_posting.headline_tasks
    .row
      .column
        = sanitize @job_posting.description_tasks

    .row
      .column
        %h2= @job_posting.headline_team
    .row
      .column
        = sanitize @job_posting.description_team

  .job_posting__footer
    .row.row-center
      .column.column-80
        %strong In wenigen Klicks ohne Anschreiben und Lebenslauf
      .column.column-20
        = link_to 'Jetzt bewerben', '#', id: 'cta_job_posting_apply', class: 'button'
