// Place all the styles related to the JobPostings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.job_posting {
  .button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: #fbbb00;
    border: 0.1rem solid #fbbb00;
  }

  #cta_job_posting_apply.button {
    margin-bottom: 0;
    float: right;
  }

  .job_posting__header {
    h1 {
      margin-bottom: 0;
    }
  }

  .job_posting__content {
    margin-top: 4rem;

    h2 {
      color: #fbbb00;
    }

    ul {
      list-style: none;

      li:before {
        background-color: #fbbb00;
        border-radius: 8px;
        content: '';
        display: inline-block;
        height: 8px;
        margin-bottom: 4px;
        margin-right: 10px;
        vertical-align: middle;
        width: 8px;
      }
    }
  }

  .job_posting__footer {
    background-color: #333;
    margin-top: 4rem;
    padding: 1rem;

    strong {
      color: #fff;
    }
  }
}
